$black: #212121;
$dark-grey: #424242;
$grey: #9E9E9E;
$light-grey: #E0E0E0;
$white: #fff;

$light-blue: #E0F7FA;
$red: #ef5350;
$dark-red: #d32f2f;

$business-color: #D84315;
$entertainment-color: #EF6C00;
$general-color: #FF8F00;
$health-color: #2E7D32;
$science-color: #00695C;
$sports-color: #00838F;
$technology-color: #4A148C;